*{
    margin: 0;
    font-family: sans-serif;
   
    padding: 0%;

}
body{
    height:100vh;
    background-color:black;
    background-image:url("https://www.slashgear.com/img/gallery/how-to-use-dark-mode-on-any-website/l-intro-1656458427.jpg");
    background-size:cover;
    background-position:center;
    width:130%;
    background-repeat: no-repeat;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    color:white;
    font-size:1rem;
}
a:hover{
    color:orange;
}

.navbar{
    width:80%;
    height:100px;
    margin-top:0%;
    max-width:1200px;
    font-weight: bolder;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
   font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;

}
.navbar .link{
    display:flex;
    gap:2rem;
}
.navbar .toggle_btn{
    color:white;
    font-size:1.5rem;
    cursor:pointer;
    display:none;
}
.action_btn{
    
    background-color:orange;
    color:white;
    padding:0.5rem 1rem;
    border:none;
    outline:none;
    border-radius:20px;
    font-size:0.8rem;
    font-weight:bold;
    cursor:pointer;
    transition:scale 0.2 ease;
}
.action_btn:hover{
    scale:1.05;
    color:white;
}
.action_btn:active{
    scale:0.95;
}
.dropdown_menu {
  display: none;
    position:absolute;
    right:2rem;
    top:60px;
   height:0;
    width: 200px;
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius:10px;
    overflow:hidden;
    transition:height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height:240px;
}
.dropdown_menu li{
    padding:0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown_menu .action_btn{
    width:100%;
    display:flex;
    justify-content: center;
}





.detail{
    margin-left: 8%;
   
   
    position: relative;
    left: 350px; 
    top:100px ;
}
.detail h1{
    font-size: 30px;
    margin-top:80px;
    margin-bottom: 25px;
    color:white;
    

}
.detail h1:hover{
    color:orange;
}

span{
    color :orange;
}
.detail p{
    color:white;
    line-height: 22px;
    font-size: 40px;
    margin-top:20px ;
    font-weight: bold;
}
.detail p:hover{
    color:orange;
}
.detail a{
    padding: 5px;
    font-weight: bold;
    color:black;
    display: inline-block;
    margin: 10px;
    border:1% solid transparent;
    border-radius: 2%;
    padding:2px;
    cursor:pointer;
    box-sizing:2%;
    box-shadow: 1px 1px 20px orange,
                1px 1px 40px orange;
    animation: anime 1s linear infinite;
   
    
    
}
.detail a:hover{
color: orange;
}
.cv{
color:black;
text-decoration: none;

font-weight: bold;
display: inline-block;
margin:0px 0;
border-radius:2px;
background-color:white;
text-underline-offset: no;

border:1% solid transparent;
border-radius: 5%;
padding:2px;
cursor:pointer;
box-sizing:3%;
box-shadow: 1px 1px 10px white,
            1px 1px 20px orange;
animation: anime 1s linear infinite;
   
   
  
    
}
.cv:hover{
    color:orange;
}



.image{
    width:50%;
    height:80%;
    position:absolute;
   border-bottom-width: 20%;
    bottom:0;
    right:50px;
   margin-bottom:-1000%;
    border:1% solid transparent;
    border-radius: 50%;
    padding:50px;
    cursor:pointer;
    box-sizing:50%;
    box-shadow: 1px 1px 20px orange,
                1px 1px 40px  orange;
    animation: anime 1s linear infinite;
   
    display:flex;

}


.image a:hover{
    color:orange;
}
@media (max-width:991px){
    
        
 
        .navbar .link,
        .navbar .action_btn{
            display:none;
        }
        .navbar .toggle_btn{
            display:block;
        }
        .dropdown_menu{
            display: block;
        }
        
        .detail h1{
            margin-left:-35%;
        }
        .detail p{
            margin-left:-45%;
        }
        .detail a{
            margin-left:-15%;
            margin-right:-10%;
            margin-top:-10%;
        }
        .cv{
            margin-left:-30%;
            padding: 3%;
            width:15%;
        }
        .image{
            margin-bottom:10;
            
    } 
 
 
}
 
@media (max-width: 992px){
    .dropdown_menu{
        left:2rem;
        width:unset;
    }
}


